<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'AAC' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row center>
    <div col-8 class="message-box" padding margin-vertical>
      <ion-col width-33 *ngFor="let part of message">
          <ion-img src={{part}}></ion-img>
      </ion-col>
    </div>
    <div col-2>
      <ion-icon class="icon" margin-top name="backspace" (click)="backspaceTapped()"></ion-icon>
      <ion-icon class="icon" margin-top name="volume-up"></ion-icon>
    </div>
  </ion-row>
  <ion-row>
    <ion-list class="card-list" col-12>
      <ion-item>
        <ion-label>{{ 'Kortti' | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedCardName" (ionChange)="cardSelected()">
            <ion-option *ngFor="let cardOption of cardOptions" value="{{cardOption.name}}">{{cardOption.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let wordSymbol of wordSymbols" (click)="wordSymbolTapped($event, wordSymbol)">
            <ion-img src={{wordSymbol.symbolImageURL}}></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>
