<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Luo uusi kortti' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-input type="text" [(ngModel)]="cardName" placeholder="{{ 'Kortin nimi' | translate }}"></ion-input>
  </ion-item>
  
  <ion-row>
    <ion-list class="card-size-list" col-2>
      <ion-item>
        <ion-label>{{ 'Koko' | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedGridSize" (ionChange)="sizeSelected()">
          <ion-option *ngFor="let sizeOption of sizeOptions">
            {{sizeOption.gridSize}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-row>
  <hr>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-2 *ngFor="let wordSymbol of card.wordSymbols">
            <img src={{wordSymbol.symbolImageURL}} (click)="promptForWordSymbol(wordSymbol)"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <hr>
  <ion-row>
      <button ion-button (click)="saveButtonTapped()">{{ 'Tallenna' | translate }}</button>
      <button ion-button color="light" (click)="cancelButtonTapped()">{{ 'Peruuta' | translate }}</button>
  </ion-row>
  
</ion-content>